@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #0d1a0d inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  color-scheme: dark;
}

body {
  background: #0a120a;
}